<div class="menu-container">

    <div class="header-mobile">
        <div id="hamburger-icon" class="hamburger-icon">
            &#9776; </div>
        <div class="logo-container-mobile">
            <img src="./assets/img/pet-vibe-logo.png" alt="logo-do-site" class="logo-home">
        </div>
        <div class="spacer"></div>
    </div>

    <div id="my-sidenav" class="sidenav">
        <a href="javascript:void(0)" class="close-btn" id="close-btn">&times;</a> <a href="./index.html">Início</a>
        <a href="./about.html">Sobre</a>
        <a href="./product.html">Produto</a>
        <a href="./services.html">Serviços</a>
        <a href="./contact.html">Contato</a>
        <a href="#" class="button-menu-mobile">Login</a>
    </div>

    <header class="desktop-menu">
        <div>
            <img src="./assets/img/pet-vibe-logo.png" alt="logo-do-site" class="logo-home">
        </div>
        <nav>
            <a href="./index.html" class="link-menu">Início</a>
            <a href="./about.html" class="link-menu">Sobre</a>
            <a href="./product.html" class="link-menu">Produto</a>
            <a href="./services.html" class="link-menu">Serviços</a>
            <a href="./contact.html" class="link-menu">Contato</a>
            <button class="button-menu" href="#">Login</button>
        </nav>
    </header>

</div>