<div class="menu-container">
    <div>
        <img src="./assets/img/pet-vibe-logo.png" alt="logo-do-site" class="logo-home">
    </div>

    <div>
        <header class="desktop-menu">
            <a href="./index.html" class="link-menu">Início</a>
            <a href="./about.html" class="link-menu">Sobre</a>
            <a href="./product.html" class="link-menu">Produto</a>
            <a href="./services.html" class="link-menu">Serviços</a>
            <a href="./contact.html" class="link-menu">Contato</a>
            <button class="button-menu" href="#">Login</button>
        </header>
    </div>
</div>